@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$left-block: #017E7A;
$account-block: #EE9D05;
$supporting: #CECECE;
$supporting-reaction: #BED7D4;

$font-family: "Roboto", sans-serif;
$font-size-base: 20px;